$palette-light-blue: #bed6ff;
$palette-blue: #206994;
$palette-red: #910302;
$palette-orange: #ff582c;
$palette-green: #249b14;
$palette-light-green: lightgreen;

$palette-bg-gray: #eee;
$palette-bg-black: #313131;

$palette-rarity-common: #858585;
$palette-rarity-rare: #315376;
$palette-rarity-epic: #644c82;
$palette-rarity-legendary: #855c25;

$palette-text-yellow: #f4d442;
$palette-text-gray: #777;
