$palette-light-blue: #bed6ff;
$palette-blue: #433e88;
$palette-blue-normal: #206994;
$palette-red: #D0021B;
$palette-orange: #ff582c;
$palette-green: #5B911F;
$palette-light-green: lightgreen;

$palette-bg-gray: #eee;
$palette-bg-black: #313131;

$palette-rarity-common: #5e5e5e;// #858585;
$palette-rarity-rare: #1768c6; //#315376;
$palette-rarity-epic: #705dc7; //#644c82;
$palette-rarity-legendary: #f5a623; //#855c25;

$palette-text-yellow: #f4d442;
$palette-text-gray: #777;
